body {
    font-family: "Roboto", sans-serif;
    color: $main-text-color;
    background-color:$background-color;
    letter-spacing: 0.03em;
    font-size: 14px;
}
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

:focus {
    outline: 1px solid $accent-color;
    border-radius: 3px;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}